body {
    font-family: Arial, sans-serif;
}

#cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

#startButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
}
